---
import Layout from '../../layouts/Layout.astro';
import StudySessionView from '../../components/flashcards/StudySessionView';
---

<Layout title="Sesja Nauki - Fiszki">
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Sesja Nauki</h1>
    <StudySessionView client:load />
  </div>
</Layout> 